<img src="https://pbs.twimg.com/profile_images/621055288351653888/e-bzbjQt_400x400.jpg", width=300>

# Data Science [en Python]
### Andres PDLR

    Based en el curso Métodos Computacionales para Ciencias Sociales [en Python]    
    
    by:

    - Manuel Aragonés Mora              m@dive.ai
    - Andrés Ponce de León Rosas        ap@entropylabs.science
    
    Inspiration source: notes from The University of Chicago CS121 course

# Python ?

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Guido_van_Rossum_OSCON_2006.jpg/800px-Guido_van_Rossum_OSCON_2006.jpg", width=300>

<img src="https://donjayamanne.gallerycdn.vsassets.io/extensions/donjayamanne/jupyter/1.1.3/1493992150869/Microsoft.VisualStudio.Services.Icons.Default", width=300>

# Data Science?

<img src="http://static1.squarespace.com/static/54022945e4b02005531a9c9e/t/54fc82ffe4b0c724169fe392/1425834751943/?format=1500w", width=500>

# Aplicaciones en Política Pública:

# Mi primer programa

https://excelwithbusiness.com/blog/say-hello-world-in-28-different-programming-languages/

In [11]:
print("Hola C230")
print("Hello world")

Hola C230
Hello world

In [9]:
print('Hola {}'.format('C230!'))

Hola C230!

In [ ]:
name = 'C230'
print('Hola {}'.format(name))

# Types

In [13]:
a = 1
b = 1.0
c = '1'

In [14]:
print(a, b, c)

1 1.0 1

In [18]:
print(type(c))

<class 'str'>

In [ ]:
andres = 2

In [31]:
print(type(a))
print(type(c))
print(type(b))

<class 'int'>
<class 'str'>
<class 'float'>

# Operaciones aritméticas

In [33]:
n = 16
m = 5

In [34]:
# suma y concatenación
n + m

21

In [35]:
# resta
n - m

11

In [39]:
# multiplicación
n * m

80

In [78]:
def c230(variable):
    '''
    Esta funcion eleva al cuadrado un numero
    '''
    if type(variable) == str:
        print('Error: mejor dame un número')
    else:
        rv = variable * variable
    return rv

In [79]:
c230('5')

Error: mejor dame un número

UnboundLocalError: local variable 'rv' referenced before assignment

In [47]:
math.sqrt(n)

4.0

In [43]:
# exponenciación
n ** m

4.0

In [56]:
# “Modulo” obtienes el residuo de dividir n entre m
n % m

1

In [58]:
# división entera, descarta el residuo y devuelve el entero
n // m

3

In [59]:
# division decimal
n / m

3.2

# Listas

In [60]:
peliculas = ['The Dark Knight', 'The Godfather', 'Mad Max', 'Die Hard', 'Little Man', 'Ronin']

In [67]:
peliculas[2]

'Mad Max'

In [66]:
nums = ['1', '1', '2', '3', '5', '8', '13', '21', '34', '55', '89', '144', '233', '377', '610', '987', '1597', '2584', '4181']

In [68]:
nums

['1',
 '1',
 '2',
 '3',
 '5',
 '8',
 '13',
 '21',
 '34',
 '55',
 '89',
 '144',
 '233',
 '377',
 '610',
 '987',
 '1597',
 '2584',
 '4181']

In [72]:
l = ['string', 4, 5.0, True, False]

In [73]:
l

['string', 4, 5.0, True, False]

# Acceder a elementos de una lista
    In Python, lists are zero-indexed.
    Position 0 contains the first element, position 1 contains the second element, etc.

In [74]:
peliculas[2]

'Mad Max'

In [75]:
peliculas[10]

IndexError: list index out of range

In [80]:
peliculas

['The Dark Knight',
 'The Godfather',
 'Mad Max',
 'Die Hard',
 'Little Man',
 'Ronin']

In [81]:
peliculas[-1]

'Ronin'

In [82]:
peliculas

['The Dark Knight',
 'The Godfather',
 'Mad Max',
 'Die Hard',
 'Little Man',
 'Ronin']

In [83]:
peliculas[2] = 'Planet of the Apes'

In [84]:
peliculas

['The Dark Knight',
 'The Godfather',
 'Planet of the Apes',
 'Die Hard',
 'Little Man',
 'Ronin']

In [ ]:
peliculas[1:3]

# Editando listas

In [85]:
type(peliculas)

list

In [86]:
# añade el elemento al final de la lista
peliculas.append('Natural Born Killers')

In [87]:
peliculas

['The Dark Knight',
 'The Godfather',
 'Planet of the Apes',
 'Die Hard',
 'Little Man',
 'Ronin',
 'Natural Born Killers']

In [94]:
peliculas_esposa = ['Ten things I hate about you', 'P.S. I Love you', 'How to lose a guy in 10 days', 'Mean girls', 'Bridget Jones Diary']

In [95]:
peliculas_familia = peliculas + peliculas_esposa

In [96]:
peliculas_familia

['The Dark Knight',
 'The Godfather',
 'Planet of the Apes',
 'Die Hard',
 'Little Man',
 'Ronin',
 'Natural Born Killers',
 'Ten things I hate about you',
 'P.S. I Love you',
 'How to lose a guy in 10 days',
 'Mean girls',
 'Bridget Jones Diary']

In [101]:
a = 'andres '
p = 'Ponce de leon'

In [107]:
# extiende la lista con los elementos de la otra lista (similar a concatenar)
peliculas.extend(peliculas_esposa)

In [108]:
peliculas

['The Dark Knight',
 'The Godfather',
 'Planet of the Apes',
 'Die Hard',
 'Little Man',
 'Ronin',
 'Natural Born Killers',
 'Ten things I hate about you',
 'P.S. I Love you',
 'How to lose a guy in 10 days',
 'Mean girls',
 'Bridget Jones Diary']

In [ ]:
# insertas elemento en un lugar específico
peliculas.insert(3,'Black Hawk Down')

In [ ]:
peliculas

In [ ]:
del peliculas[3]

In [ ]:
peliculas

In [ ]:
peliculas.pop()

In [ ]:
peliculas

# Construyendo listas

In [109]:
precios = [15.7, 32, 20.2, 60.3]

In [114]:
precios_con_IVA = []
precios_descuento = []

In [121]:
suma_precios = 0
for precio in precios:
    nuevo_precio = precio * 1.16
    descuento = nuevo_precio * .60
    suma_precios += nuevo_precio
    precios_con_IVA.append(nuevo_precio)
    precios_descuento.append(descuento)
print(suma_precios)

148.712

In [122]:
suma_precios

148.712

In [125]:
for i, precio in enumerate(precios):
    print(i, precio)

0 15.7
1 32
2 20.2
3 60.3

In [130]:
len(peliculas)

12

In [112]:
precios_con_IVA

[18.211999999999996, 37.12, 23.432, 69.948]

In [123]:
unos = [1] * 10

In [124]:
unos

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
as_ = ['a'] * 5

In [ ]:
as_

# Listas de listas

In [ ]:
matriz = [[1,2,3], [4,5,6], [7,8,9]]

In [ ]:
for fila in matriz:
    print(fila)

In [ ]:
matriz[1][2]

In [ ]:
matriz[2][0]

In [ ]:
matriz[1][1] = 0

In [ ]:
matriz

# Funciones y métodos útiles implicitos a las listas

In [ ]:
max(peliculas)

In [ ]:
min(peliculas)

In [ ]:
peliculas.count('Ronin')

In [ ]:
peliculas.reverse()

In [ ]:
peliculas

In [ ]:
sorted(peliculas)

# Dictionaries

In [ ]:
calificaciones = {}

In [ ]:
calificaciones['Ana'] = 10.0

In [ ]:
calificaciones

In [ ]:
calificaciones['Carlos'] = 6.0

In [ ]:
calificaciones['Eugenia'] = 4.0

In [ ]:
calificaciones['Fidel'] = 9.0

In [ ]:
calificaciones

In [ ]:
calificaciones['Jaime']

In [ ]:
calificaciones.get('Patricia', 0.0)

# Loops

    Ejemplos de reglas simples que producen gran complejidad:
            - John Conway: The Game of Life
            - Fractales <- Naturaleza
            - Stephen Wolfram: A New Kind of Science

<img src="https://assets.wired.com/photos/w_582/wp-content/uploads/2015/08/Conway_1k.jpg", width=500>

## While Loop

<img src="https://www.tutorialspoint.com/python/images/python_while_loop.jpg", width=250>

In [ ]:
count = 0
while count < 10:
    print('The count is:', count + 1)
    count = count + 1
print("Good bye!")

## Cuidado con loops infinitos...

In [ ]:
count = 0
while count < 10:
    print('The count is:', count + 1)
print("Good bye!")

# For Loop

<img src="https://www.tutorialspoint.com/python/images/python_for_loop.jpg", width=350>

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
for x in nums:
    if x % 2 == 0:
        print(x, 'es par!')
    else:
        print(x, 'es non!')

In [ ]:
for x in range(1, 10):
    if x % 2 == 0:
        print(x, 'es par!')
    else:
        print(x, 'es non!')

In [ ]:
for n in range(2, 10):
    is_prime = 'es primo'
    for i in range(2, n):
        if n % i == 0:
            is_prime = 'no es primo'
            break
    print(n, is_prime)