<img src="http://www.senado.gob.mx/ibd/imgs/sen_05.png", width=500>

Motivación Inicial

https://www.youtube.com/watch?v=xG6CJeCu2Sc

    Métodos Computacionales para Ciencias Sociales [en Python]


    - Manuel Aragonés Mora              m@dive.ai
    - Andrés Ponce de León Rosas        ap@entropylabs.science
    
    
    Estructura Sesión:
    ------------------
    0. Reflexiones iniciales
    1. Por qué computer science en ciencias sociales
    2. Algoritmos
    3. Loops
    4. Funciones Classes
    5. Procesamiento de datos en Pandas

<div class="alert alert-info" role="alert">
Loops

    Ejemplos de reglas simples que producen gran complejidad:
        - John Conway: The Game of Life
        - Stephen Wolfram: A New Kind of Science

<img src="https://assets.wired.com/photos/w_582/wp-content/uploads/2015/08/Conway_1k.jpg", width=500>

# While Loop

<img src="https://www.tutorialspoint.com/python/images/python_while_loop.jpg", width=250>

In [15]:
count = 0
while count < 10:
    print('The count is:', count + 1)
    count = count + 1
print("Good bye!")

The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
The count is: 9
The count is: 10
Good bye!

## Cuidado con loops infinitos...

In [ ]:
count = 0
while count < 10:
    print('The count is:', count + 1)
print("Good bye!")

# Si contamos a todos en la tierra, cuántos años tardaríamos?

In [10]:
total_personas = 7000000000
chunks = 2
segundos_por_cuenta = 1

In [11]:
total_cuentas = total_personas / chunks
segundos = total_cuentas * segundos_por_cuenta
minutos = segundos / 60
horas = minutos / 60
dias = horas / 24
años = round(dias / 365, 2)
print('Contar', total_personas, 'personas', 'de {} en {}'.format(chunks, chunks), 'tomaría {} '.format(años), 'años')
print('El número final de pasos necesarios es : ', total_cuentas)

Contar 7000000000 personas de 2 en 2 tomaría 110.98  años
El número final de pasos necesarios es :  3500000000.0

# ... y si los contamos correctamente?

In [12]:
numero_de_pasos = 0
while total_personas != 1:
    if total_personas%2 == 0:
        total_personas = total_personas / 2
    else:
        total_personas = (total_personas + 1) / 2
    numero_de_pasos += 1
print('El número final de pasos necesarios es : ', numero_de_pasos)

El número final de pasos necesarios es :  33

# For Loop

<img src="https://www.tutorialspoint.com/python/images/python_for_loop.jpg", width=350>

In [22]:
nums = [1,2,3,4,5,6,7,8,9,10]
for x in nums:
    if x % 2 == 0:
        print(x, 'es par!')
    else:
        print(x, 'es non!')

1 es non!
2 es par!
3 es non!
4 es par!
5 es non!
6 es par!
7 es non!
8 es par!
9 es non!
10 es par!

In [23]:
for x in range(1, 10):
    if x % 2 == 0:
        print(x, 'es par!')
    else:
        print(x, 'es non!')

1 es non!
2 es par!
3 es non!
4 es par!
5 es non!
6 es par!
7 es non!
8 es par!
9 es non!

# Nested Loop

## Qué tal que necesitamos determinar si un número es primo

In [26]:
for n in range(2, 10):
    is_prime = 'es primo'
    for i in range(2, n):
        if n % i == 0:
            is_prime = 'no es primo'
            break
    print(n, is_prime)

2 es primo
3 es primo
4 no es primo
5 es primo
6 no es primo
7 es primo
8 no es primo
9 no es primo

<div class="alert alert-info" role="alert">
Funciones

<img src="https://pbs.twimg.com/media/C1kkFPjWQAACkmg.jpg", width=500>

In [28]:
def multiplicacion(a, b):
    rv = a * b
    print(rv)

In [29]:
multiplicacion(10, 500)

5000

In [30]:
def multiplicacion(a, b):
    rv = a * b
    return rv

In [31]:
multiplicacion(10, 500)

5000

In [39]:
def es_primo(numero):
    is_prime = 'es primo'
    for i in range(2, numero):
        if numero % i == 0:
            is_prime = 'no es primo'
            break
    print(numero, is_prime)

In [ ]:
def pasos(numero_de_personas):
    numero_de_pasos = 0
    while numero_de_personas != 1:
        if numero_de_personas%2 == 0:
            numero_de_personas = numero_de_personas / 2
        else:
            numero_de_personas = (numero_de_personas + 1) / 2
        numero_de_pasos += 1
    print('El número final de pasos necesarios es : ', numero_de_pasos)

In [43]:
def multiplicacion(*kwargs):
    rv = 1
    for kwarg in kwargs:
        rv = rv * kwarg
    return rv

<div class="alert alert-info" role="alert">
Pandas

In [1]:
import pandas as pd
from claves_actividad_economica import *

In [5]:
economias_estatales = pd.read_csv('estados_scian.csv', converters = {'clave_entidad': str, 'clave_actividad_economica': str})

In [6]:
len(economias_estatales)

6226

In [7]:
economias_estatales.shape

(6226, 6)

In [8]:
economias_estatales.head()

  clave_entidad clave_actividad_economica  anio_censal  UE     A111A  H001A
0             1                      1125         2014   9     1.170     22
1             1                      2221         2014  12  1245.802   1354
2             1                      2361         2014  71  1360.306   2533
3             1                      2362         2014  89  1362.166   3283
4             1                      2371         2014  19   161.604    345

In [9]:
economias_estatales.tail()

     clave_entidad clave_actividad_economica  anio_censal   UE   A111A  H001A
6221            32                      8123         2014  102  54.766    412
6222            32                      8124         2014  165  14.149    272
6223            32                      8129         2014   59  12.368     99
6224            32                      8131         2014  199  67.094    845
6225            32                      8132         2014   84  26.668    410

In [10]:
for columna in economias_estatales.columns:
    print(columna)

clave_entidad
clave_actividad_economica
anio_censal
UE
A111A
H001A

In [11]:
for estado in economias_estatales['clave_entidad'].unique():
    print(estado)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

In [12]:
def clave_estado(estado):
    rv = ''
    if len(estado) == 1:
        rv = '0' + estado
    else:
        rv = estado
    return rv

In [13]:
economias_estatales['clave_entidad'] = economias_estatales['clave_entidad'].apply(clave_estado)

In [14]:
economias_estatales.head()

  clave_entidad clave_actividad_economica  anio_censal  UE     A111A  H001A
0            01                      1125         2014   9     1.170     22
1            01                      2221         2014  12  1245.802   1354
2            01                      2361         2014  71  1360.306   2533
3            01                      2362         2014  89  1362.166   3283
4            01                      2371         2014  19   161.604    345

In [15]:
economias_estatales['clave_entidad'].value_counts()

09    251
14    237
19    233
15    224
11    214
08    214
02    213
26    212
30    211
25    210
21    209
05    208
16    207
22    204
24    201
28    194
31    190
13    188
07    188
20    187
10    185
01    182
12    182
29    174
17    173
32    171
27    167
23    163
03    161
06    159
18    157
04    157
Name: clave_entidad, dtype: int64

In [16]:
economias_estatales['A111A'].sum()

12455138.739999985

In [17]:
economias_estatales['UE'].sum()

4197985

In [18]:
economia_01 = economias_estatales.loc[economias_estatales['clave_entidad'] == '01']

In [19]:
economia_01.shape

(182, 6)

In [20]:
pd.crosstab(index=economias_estatales["clave_entidad"], columns=economias_estatales["clave_actividad_economica"])

clave_actividad_economica,1125,1141,1151,1152,2111,2121,2122,2123,2131,2211,...,8112,8113,8114,8121,8122,8123,8124,8129,8131,8132
clave_entidad,,,,,,,,,,,,,,,,,,,,,
01,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
02,1,1,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
03,1,1,0,0,0,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
04,0,1,0,0,1,0,0,1,1,0,...,1,1,1,1,1,1,1,1,1,1
05,0,0,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
06,1,1,0,0,0,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
07,1,1,1,1,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
08,1,1,1,1,0,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
09,0,0,0,0,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
10,1,1,0,1,0,0,1,1,1,0,...,1,1,1,1,1,1,1,1,1,1
11,0,1,0,0,0,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
12,1,1,1,0,0,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
13,1,1,0,0,0,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
14,1,1,1,0,0,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
15,1,1,1,1,0,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
16,1,1,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
17,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
18,1,1,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
19,0,0,1,1,0,0,0,1,0,0,...,1,1,1,1,1,1,1,1,1,1
20,1,1,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
21,1,1,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
22,0,1,0,0,0,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
23,1,1,0,1,0,0,0,1,0,0,...,1,1,1,1,1,1,1,1,1,1
24,1,1,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
25,1,1,1,1,0,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
26,1,1,1,1,0,1,1,1,1,0,...,1,1,1,1,1,1,1,1,1,1
27,1,1,0,0,1,0,0,1,1,0,...,1,1,1,1,1,1,1,1,1,1
28,1,1,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
29,1,1,1,0,0,0,0,1,0,0,...,1,1,1,1,1,1,1,1,1,1
30,1,1,1,0,1,0,0,1,0,0,...,1,1,1,1,1,1,1,1,1,1
31,1,1,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
32,1,1,0,0,0,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1

In [22]:
def sector_SCIAN(rama):
    sector = rama[0: 2]
    if sector == '31':
        rv = '31-33'
    elif sector == '32':
        rv = '31-33'
    elif sector == '33':
        rv = '31-33'
    elif sector == '48':
        rv = '48-49'
    elif sector == '49':
        rv = '48-49'
    else:
        rv = sector
    return rv

In [23]:
economias_estatales['sector_scian'] = economias_estatales['clave_actividad_economica'].apply(sector_SCIAN)

In [24]:
economias_estatales.shape

(6226, 7)

In [25]:
economias_estatales.head()

,clave_entidad,clave_actividad_economica,anio_censal,UE,A111A,H001A,sector_scian
0,01,1125,2014,9,1.170,22,11
1,01,2221,2014,12,1245.802,1354,22
2,01,2361,2014,71,1360.306,2533,23
3,01,2362,2014,89,1362.166,3283,23
4,01,2371,2014,19,161.604,345,23

In [26]:
pd.crosstab(index=economias_estatales["clave_entidad"], columns=economias_estatales["sector_scian"])

sector_scian,11,21,22,23,31-33,43,46,48-49,51,52,53,54,55,56,61,62,71,72,81
clave_entidad,,,,,,,,,,,,,,,,,,,
01,1,0,1,10,50,16,22,10,5,4,3,9,0,9,5,14,6,6,11
02,2,0,0,10,70,16,22,14,4,3,7,9,1,9,7,14,8,6,11
03,2,2,1,10,25,15,22,15,3,3,7,8,0,9,5,11,6,6,11
04,1,3,1,10,32,15,22,8,6,2,6,7,1,9,4,10,5,4,11
05,1,0,0,10,67,16,22,13,4,5,7,7,1,9,7,17,7,4,11
06,2,2,1,10,30,14,22,12,4,3,6,8,0,9,4,12,3,6,11
07,4,0,1,10,45,16,22,11,8,3,3,9,0,9,7,15,8,6,11
08,4,2,1,10,71,17,22,9,4,6,3,9,1,9,7,16,7,5,11
09,0,4,1,10,79,18,22,16,12,11,8,9,1,9,7,18,9,6,11
10,3,3,0,8,49,17,22,10,5,3,7,9,1,7,5,13,6,6,11
11,1,2,0,10,71,17,22,11,7,5,7,9,1,9,5,15,7,4,11
12,3,2,1,8,48,16,22,13,3,4,3,7,0,9,6,14,6,6,11
13,2,2,1,8,58,17,22,10,8,3,3,7,0,9,5,10,7,5,11
14,3,2,0,10,78,16,22,17,7,4,8,9,1,9,7,18,9,6,11
15,4,2,0,10,78,18,22,15,6,1,3,9,1,9,7,15,7,6,11
16,3,0,1,8,63,16,22,12,8,4,3,9,1,9,7,17,7,6,11
17,1,0,1,8,46,13,22,11,5,2,3,9,0,9,5,15,6,6,11
18,3,0,1,8,37,16,22,7,6,5,5,7,0,0,5,12,6,6,11
19,2,1,0,10,78,16,22,14,7,7,8,9,1,9,7,17,9,5,11
20,2,0,1,10,45,15,22,14,7,3,7,9,0,9,6,13,7,6,11
21,3,0,0,10,69,17,22,13,6,2,3,9,0,9,7,14,8,6,11
22,1,2,0,10,69,17,22,8,6,2,3,9,1,9,7,15,6,6,11
23,3,1,1,8,30,15,22,11,7,3,7,7,1,9,5,12,6,4,11
24,2,0,0,10,68,15,22,14,6,2,3,9,0,9,7,12,7,4,11
25,4,2,1,10,54,17,22,13,8,5,8,9,1,9,7,14,9,6,11
26,4,4,1,10,68,16,22,12,5,4,3,9,1,9,5,15,7,6,11
27,2,3,1,10,36,15,22,10,6,3,4,9,1,9,4,9,7,5,11
28,3,0,0,10,55,17,22,14,8,5,3,9,0,9,5,15,3,5,11
29,3,1,1,8,53,16,22,6,4,3,5,7,0,7,6,9,8,4,11
30,3,2,1,10,61,17,22,15,6,2,7,9,1,9,7,15,7,6,11
31,3,0,0,10,53,16,22,11,4,2,7,9,0,9,7,15,7,4,11
32,2,2,0,10,42,14,22,7,3,4,5,8,0,9,6,14,7,5,11

In [28]:
for rama in ramas:
    print(rama, actividades_economicas[rama])

1125 Acuicultura
1141 Pesca
1151 Servicios relacionados con la agricultura
1152 Servicios relacionados con la cría y explotación de animales
1153 Servicios relacionados con el aprovechamiento forestal
2111 Extracción de petróleo y gas
2121 Minería de carbón mineral
2122 Minería de minerales metálicos
2123 Minería de minerales no metálicos
2131 Servicios relacionados con la minería
2211 Generación, transmisión y distribución de energía eléctrica
2221 Captación, tratamiento y suministro de agua
2222 Suministro de gas por ductos al consumidor final
2361 Edificación residencial
2362 Edificación no residencial
2371 Construcción de obras para el suministro de agua, petróleo, gas, energía eléctrica y telecomunicaciones
2372 División de terrenos y construcción de obras de urbanización
2373 Construcción de vías de comunicación
2379 Otras construcciones de ingeniería civil
2381 Cimentaciones, montaje de estructuras prefabricadas y trabajos en exteriores
2382 Instalaciones y equipamiento en construcciones
2383 Trabajos de acabados en edificaciones
2389 Otros trabajos especializados para la construcción
3111 Elaboración de alimentos para animales
3112 Molienda de granos y de semillas y obtención de aceites y grasas
3113 Elaboración de azúcares, chocolates, dulces y similares
3114 Conservación de frutas, verduras y alimentos preparados
3115 Elaboración de productos lácteos
3116 Matanza, empacado y procesamiento de carne de ganado, aves y otros animales comestibles
3117 Preparación y envasado de pescados y mariscos
3118 Elaboración de productos de panadería y tortillas
3119 Otras industrias alimentarias
3121 Industria de las bebidas
3122 Industria del tabaco
3131 Preparación e hilado de fibras textiles, y fabricación de hilos
3132 Fabricación de telas
3133 Acabado de productos textiles y fabricación de telas recubiertas
3141 Confección de alfombras, blancos y similares
3149 Fabricación de otros productos textiles, excepto prendas de vestir
3151 Fabricación de prendas de vestir de punto
3152 Confección de prendas de vestir
3159 Confección de accesorios de vestir y otras prendas de vestir no clasificados en otra parte
3161 Curtido y acabado de cuero y piel
3162 Fabricación de calzado
3169 Fabricación de otros productos de cuero, piel y materiales sucedáneos
3211 Aserrado y conservación de la madera
3212 Fabricación de laminados y aglutinados de madera
3219 Fabricación de otros productos de madera
3221 Fabricación de pulpa, papel y cartón
3222 Fabricación de productos de cartón y papel
3231 Impresión e industrias conexas
3241 Fabricación de productos derivados del petróleo y del carbón
3251 Fabricación de productos químicos básicos
3252 Fabricación de resinas y hules sintéticos, y fibras químicas
3253 Fabricación de fertilizantes, pesticidas y otros agroquímicos
3254 Fabricación de productos farmacéuticos
3255 Fabricación de pinturas, recubrimientos y adhesivos
3256 Fabricación de jabones, limpiadores y preparaciones de tocador
3259 Fabricación de otros productos químicos
3261 Fabricación de productos de plástico
3262 Fabricación de productos de hule
3271 Fabricación de productos a base de arcillas y minerales refractarios
3272 Fabricación de vidrio y productos de vidrio
3273 Fabricación de cemento y productos de concreto
3274 Fabricación de cal, yeso y productos de yeso
3279 Fabricación de otros productos a base de minerales no metálicos
3311 Industria básica del hierro y del acero
3312 Fabricación de productos de hierro y acero
3313 Industria básica del aluminio
3314 Industrias de metales no ferrosos, excepto aluminio
3315 Moldeo por fundición de piezas metálicas
3321 Fabricación de productos metálicos forjados y troquelados
3322 Fabricación de herramientas de mano sin motor y utensilios de cocina metálicos
3323 Fabricación de estructuras metálicas y productos de herrería
3324 Fabricación de calderas, tanques y envases metálicos
3325 Fabricación de herrajes y cerraduras
3326 Fabricación de alambre, productos de alambre y resortes
3327 Maquinado de piezas metálicas y fabricación de tornillos
3328 Recubrimientos y terminados metálicos
3329 Fabricación de otros productos metálicos
3331 Fabricación de maquinaria y equipo agropecuario, para la construcción y para la industria extractiva
3332 Fabricación de maquinaria y equipo para las industrias manufactureras, excepto la metalmecánica
3333 Fabricación de maquinaria y equipo para el comercio y los servicios
3334 Fabricación de equipo de aire acondicionado, calefacción, y de refrigeración industrial y comercial
3335 Fabricación de maquinaria y equipo para la industria metalmecánica
3336 Fabricación de motores de combustión interna, turbinas y transmisiones
3339 Fabricación de otra maquinaria y equipo para la industria en general
3341 Fabricación de computadoras y equipo periférico
3342 Fabricación de equipo de comunicación
3343 Fabricación de equipo de audio y de video
3344 Fabricación de componentes electrónicos
3345 Fabricación de instrumentos de medición, control, navegación, y equipo médico electrónico
3346 Fabricación y reproducción de medios magnéticos y ópticos
3351 Fabricación de accesorios de iluminación
3352 Fabricación de aparatos eléctricos de uso doméstico
3353 Fabricación de equipo de generación y distribución de energía eléctrica
3359 Fabricación de otros equipos y accesorios eléctricos
3361 Fabricación de automóviles y camiones
3362 Fabricación de carrocerías y remolques
3363 Fabricación de partes para vehículos automotores
3364 Fabricación de equipo aeroespacial
3365 Fabricación de equipo ferroviario
3366 Fabricación de embarcaciones
3369 Fabricación de otro equipo de transporte
3371 Fabricación de muebles, excepto de oficina y estantería
3372 Fabricación de muebles de oficina y estantería
3379 Fabricación de colchones, persianas y cortineros
3391 Fabricación de equipo no electrónico y material desechable de uso médico, dental y para laboratorio, y artículos oftálmicos
3399 Otras industrias manufactureras
4311 Comercio al por mayor de abarrotes y alimentos
4312 Comercio al por mayor de bebidas, hielo y tabaco
4321 Comercio al por mayor de productos textiles y calzado
4331 Comercio al por mayor de productos farmacéuticos
4332 Comercio al por mayor de artículos de perfumería, cosméticos y joyería
4333 Comercio al por mayor de discos, juguetes y artículos deportivos
4334 Comercio al por mayor de artículos de papelería, libros, revistas y periódicos
4335 Comercio al por mayor de electrodomésticos menores y aparatos de línea blanca
4341 Comercio al por mayor de materias primas agropecuarias y forestales
4342 Comercio al por mayor de materias primas para la industria
4343 Comercio al por mayor de materiales de desecho
4351 Comercio al por mayor de maquinaria y equipo agropecuario, forestal y para la pesca
4352 Comercio al por mayor de maquinaria y equipo para la industria
4353 Comercio al por mayor de maquinaria y equipo para los servicios y para actividades comerciales
4354 Comercio al por mayor de mobiliario y equipo de cómputo y de oficina, y de otra maquinaria y equipo de uso general
4361 Comercio al por mayor de camiones y de partes y refacciones nuevas para automóviles, camionetas y camiones
4371 Intermediación de comercio al por mayor, excepto a través de internet y de otros medios electrónicos
4372 Intermediación de comercio al por mayor exclusivamente a través de internet y otros medios electrónicos
4611 Comercio al por menor de abarrotes y alimentos
4612 Comercio al por menor de bebidas, hielo y tabaco
4621 Comercio al por menor en tiendas de autoservicio
4622 Comercio al por menor en tiendas departamentales
4631 Comercio al por menor de productos textiles, excepto ropa
4632 Comercio al por menor de ropa, bisutería y accesorios de vestir
4633 Comercio al por menor de calzado
4641 Comercio al por menor de artículos para el cuidado de la salud
4651 Comercio al por menor de artículos de perfumería y joyería
4652 Comercio al por menor de artículos para el esparcimiento
4653 Comercio al por menor de artículos de papelería, libros, revistas y periódicos
4659 Comercio al por menor de mascotas, regalos, artículos religiosos, desechables y otros artículos de uso personal
4661 Comercio al por menor de muebles para el hogar y otros enseres domésticos
4662 Comercio al por menor de mobiliario, equipo y accesorios de cómputo, teléfonos y otros aparatos de comunicación
4663 Comercio al por menor de artículos para la decoración de interiores
4664 Comercio al por menor de artículos usados
4671 Comercio al por menor de artículos de ferretería, tlapalería y vidrios
4681 Comercio al por menor de automóviles y camionetas
4682 Comercio al por menor de partes y refacciones para automóviles, camionetas y camiones
4683 Comercio al por menor de motocicletas y otros vehículos de motor
4684 Comercio al por menor de combustibles, aceites y grasas lubricantes
4691 Comercio al por menor exclusivamente a través de internet, y catálogos impresos, televisión y similares
4811 Transporte aéreo regular
4812 Transporte aéreo no regular
4821 Transporte por ferrocarril
4831 Transporte marítimo
4832 Transporte por aguas interiores
4841 Autotransporte de carga general
4842 Autotransporte de carga especializado
4851 Transporte colectivo urbano y suburbano de pasajeros de ruta fija
4852 Transporte colectivo foráneo de pasajeros de ruta fija
4853 Servicio de taxis y limusinas
4854 Transporte escolar y de personal
4855 Alquiler de autobuses con chofer
4859 Otro transporte terrestre de pasajeros
4861 Transporte de petróleo crudo por ductos
4862 Transporte de gas natural por ductos
4869 Transporte por ductos de otros productos
486C Ramas agrupadas por el principio de confidencialidad
4871 Transporte turístico por tierra
4872 Transporte turístico por agua
4879 Otro transporte turístico
487C Ramas agrupadas por el principio de confidencialidad
4881 Servicios relacionados con el transporte aéreo
4882 Servicios relacionados con el transporte por ferrocarril
4883 Servicios relacionados con el transporte por agua
4884 Servicios relacionados con el transporte por carretera
4885 Servicios de intermediación para el transporte de carga
4889 Otros servicios relacionados con el transporte
4911 Servicios postales
4921 Servicios de mensajería y paquetería foránea
4922 Servicios de mensajería y paquetería local
4931 Servicios de almacenamiento
5111 Edición de periódicos, revistas, libros y similares, y edición de estas publicaciones integrada con la impresión
5112 Edición de software y edición de software integrada con la reproducción
5121 Industria fílmica y del video
5122 Industria del sonido
5151 Transmisión de programas de radio y televisión
5152 Producción de programación de canales para sistemas de televisión por cable o satelitales
5171 Operadores de telecomunicaciones alámbricas
5172 Operadores de telecomunicaciones inalámbricas, excepto servicios de satélite
5174 Servicios de telecomunicaciones por satélite
5179 Otros servicios de telecomunicaciones
5182 Procesamiento electrónico de información, hospedaje y otros servicios relacionados
5191 Otros servicios de información
5211 Banca central
5221 Banca múltiple
5222 Instituciones financieras de fomento económico
5223 Uniones de crédito e instituciones de ahorro
5224 Otras instituciones de intermediación crediticia y financiera no bursátil
5225 Servicios relacionados con la intermediación crediticia no bursátil
5231 Casas de bolsa, casas de cambio y centros cambiarios
5232 Bolsa de valores
5239 Asesoría en inversiones y otros servicios relacionados con la intermediación bursátil
5241 Instituciones de seguros y fianzas
5242 Servicios relacionados con los seguros y las fianzas
5311 Alquiler sin intermediación de bienes raíces
5312 Inmobiliarias y corredores de bienes raíces
5313 Servicios relacionados con los servicios inmobiliarios
5321 Alquiler de automóviles, camiones y otros transportes terrestres
5322 Alquiler de artículos para el hogar y personales
5323 Centros generales de alquiler
5324 Alquiler de maquinaria y equipo agropecuario, pesquero, industrial, comercial y de servicios
5331 Servicios de alquiler de marcas registradas, patentes y franquicias
5411 Servicios legales
5412 Servicios de contabilidad, auditoría y servicios relacionados
5413 Servicios de arquitectura, ingeniería y actividades relacionadas
5414 Diseño especializado
5415 Servicios de diseño de sistemas de cómputo y servicios relacionados
5416 Servicios de consultoría administrativa, científica y técnica
5417 Servicios de investigación científica y desarrollo
5418 Servicios de publicidad y actividades relacionadas
5419 Otros servicios profesionales, científicos y técnicos
5511 Corporativos
5611 Servicios de administración de negocios
5612 Servicios combinados de apoyo en instalaciones
5613 Servicios de empleo
5614 Servicio de apoyo secretarial, fotocopiado, cobranza, investigación crediticia y similares
5615 Agencias de viajes y servicios de reservaciones
5616 Servicios de investigación, protección y seguridad
5617 Servicios de limpieza
5619 Otros servicios de apoyo a los negocios
5621 Manejo de desechos y servicios de remediación
6111 Escuelas de educación básica, media y para necesidades especiales
6112 Escuelas de educación postbachillerato
6113 Escuelas de educación superior
6114 Escuelas comerciales, de computación y de capacitación para ejecutivos
6115 Escuelas de oficios
6116 Otros servicios educativos
6117 Servicios de apoyo a la educación
6211 Consultorios médicos
6212 Consultorios dentales
6213 Otros consultorios para el cuidado de la salud
6214 Centros para la atención de pacientes que no requieren hospitalización
6215 Laboratorios médicos y de diagnóstico
6216 Servicios de enfermería a domicilio
6219 Servicios de ambulancias, de bancos de órganos y otros servicios auxiliares al tratamiento médico
6221 Hospitales generales
6222 Hospitales psiquiátricos y para el tratamiento por adicción
6223 Hospitales de otras especialidades médicas
6231 Residencias con cuidados de enfermeras para enfermos convalecientes, en rehabilitación, incurables y terminales
6232 Residencias para el cuidado de personas con problemas de retardo mental, trastorno mental y adicciones
6233 Asilos y otras residencias para el cuidado de ancianos
6239 Orfanatos y otras residencias de asistencia social
6241 Servicios de orientación y trabajo social
6242 Servicios comunitarios de alimentación, refugio y emergencia
6243 Servicios de capacitación para el trabajo para personas desempleadas, subempleadas o discapacitadas
6244 Guarderías
7111 Compañías y grupos de espectáculos artísticos y culturales
7112 Deportistas y equipos deportivos profesionales
7113 Promotores de espectáculos artísticos, culturales, deportivos y similares
7114 Agentes y representantes de artistas, deportistas y similares
7115 Artistas, escritores y técnicos independientes
7121 Museos, sitios históricos, zoológicos y similares
7131 Parques con instalaciones recreativas y casas de juegos electrónicos
7132 Casinos, loterías y otros juegos de azar
7139 Otros servicios recreativos
7211 Hoteles, moteles y similares
7212 Campamentos y albergues recreativos
7213 Pensiones y casas de huéspedes, y departamentos y casas amueblados con servicios de hotelería
7223 Servicios de preparación de alimentos por encargo
7224 Centros nocturnos, bares, cantinas y similares
7225 Servicios de preparación de alimentos y bebidas alcohólicas y no alcohólicas
8111 Reparación y mantenimiento de automóviles y camiones
8112 Reparación y mantenimiento de equipo electrónico y de equipo de precisión
8113 Reparación y mantenimiento de maquinaria y equipo agropecuario, industrial, comercial y de servicios
8114 Reparación y mantenimiento de artículos para el hogar y personales
8121 Salones y clínicas de belleza, baños públicos y bolerías
8122 Lavanderías y tintorerías
8123 Servicios funerarios y administración de cementerios
8124 Estacionamientos y pensiones para vehículos automotores
8129 Servicios de revelado e impresión de fotografías y otros servicios personales
8131 Asociaciones y organizaciones comerciales, laborales, profesionales y recreativas
8132 Asociaciones y organizaciones religiosas, políticas y civiles